<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsshy.beam.modular.business.dao.ArticleMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.modular.business.entity.Article" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="content" column="content"/>
        <result property="frozen" column="frozen"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
		            a.`id` AS "id", 
                a.`title` AS "title", 
                a.`author` AS "author", 
                a.`content` AS "content", 
                a.`frozen` AS "frozen", 
                a.`create_time` AS "createTime", 
                a.`update_time` AS "updateTime"
        </sql>

    <select id="selectPageList" resultType="com.hsshy.beam.modular.business.entity.Article">
        select
        <include refid="Base_Column_List"/>
        from b_article a
        <where>
            <if test="article.title != null and article.title != ''">
                and a.title = #{article.title}
            </if>
            <if test="article.author != null and article.author != ''">
                and a.author = #{article.author}
            </if>
            <if test="article.content != null and article.content != ''">
                and a.content = #{article.content}
            </if>
            <if test="article.frozen != null and article.frozen != ''">
                and a.frozen = #{article.frozen}
            </if>

        </where>
    </select>

</mapper>