<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsshy.beam.modular.tool.dao.FormIdMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.modular.tool.entity.FormId" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="mid" column="mid"/>
        <result property="formId" column="form_id"/>
        <result property="type" column="type"/>
        <result property="usedTimes" column="used_times"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="expireTime" column="expire_time"/>
    </resultMap>

    <sql id="Base_Column_List">
		            a.`id` AS "id", 
                a.`mid` AS "mid", 
                a.`form_id` AS "formId", 
                a.`type` AS "type", 
                a.`used_times` AS "usedTimes", 
                a.`create_time` AS "createTime", 
                a.`update_time` AS "updateTime", 
                a.`expire_time` AS "expireTime"
        </sql>

    <select id="selectPageList" resultType="com.hsshy.beam.modular.tool.entity.FormId">
        select
        <include refid="Base_Column_List"/>
        from t_form_id a
        <where>
            <if test="formId.mid != null and formId.mid != ''">
                and a.mid = #{formId.mid}
            </if>
            <if test="formId.formId != null and formId.formId != ''">
                and a.form_id = #{formId.formId}
            </if>
            <if test="formId.type != null and formId.type != ''">
                and a.type = #{formId.type}
            </if>
            <if test="formId.usedTimes != null and formId.usedTimes != ''">
                and a.used_times = #{formId.usedTimes}
            </if>
            <if test="formId.expireTime != null and formId.expireTime != ''">
                and a.expire_time = #{formId.expireTime}
            </if>

        </where>
    </select>

    <delete id="clearUnvalidFormId">
        DELETE FROM form_id_rec WHERE expire_time &lt; now() OR form_id = 'the formId is a mock one' OR form_id = 'undefined';
    </delete>

</mapper>