<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsshy.beam.modular.tool.dao.MemberMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.modular.tool.entity.Member" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="photo" column="photo"/>
        <result property="openId" column="open_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="sex" column="sex"/>
        <result property="balance" column="balance"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
    </resultMap>

    <sql id="Base_Column_List">
		            a.`id` AS "id", 
                a.`photo` AS "photo", 
                a.`open_id` AS "openId", 
                a.`nick_name` AS "nickName", 
                a.`sex` AS "sex", 
                a.`balance` AS "balance", 
                a.`create_time` AS "createTime", 
                a.`update_time` AS "updateTime", 
                a.`last_login_time` AS "lastLoginTime"
        </sql>

    <select id="selectPageList" resultType="com.hsshy.beam.modular.tool.entity.Member">
        select
        <include refid="Base_Column_List"/>
        from t_member a
        <where>
            <if test="member.photo != null and member.photo != ''">
                and a.photo = #{member.photo}
            </if>
            <if test="member.openId != null and member.openId != ''">
                and a.open_id = #{member.openId}
            </if>
            <if test="member.nickName != null and member.nickName != ''">
                and a.nick_name = #{member.nickName}
            </if>
            <if test="member.sex != null and member.sex != ''">
                and a.sex = #{member.sex}
            </if>
            <if test="member.balance != null and member.balance != ''">
                and a.balance = #{member.balance}
            </if>
            <if test="member.lastLoginTime != null and member.lastLoginTime != ''">
                and a.last_login_time = #{member.lastLoginTime}
            </if>

        </where>
    </select>

</mapper>